@media all and (max-width:1200px) {
    header .top {
        display: none;
}
}
@media all and (max-width:875px) {
    header .cebtre-box .form
    {
        display: none;
    }
    header .bottom-box nav
    {
        display: none;
    }
    header .cebtre-box .logo{
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -83px;

    }
}